.wrapper {
  background: rgb(245,245,245);
  height: 100vh;
  .title {
    color: rgba(175, 47, 47, 0.5);
    font-weight: bold;
    font-size: 100px;
    padding: 30px 0;
  }
  .todo-wrapper {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    background: white;
  }
}

